body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(21, 255, 0);
}

#titleDiv {
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    top: 0;
    height: inherit;
    width: 100%;
    text-align: center;
    display: none;
}

#instructionDiv {
    font-size: 1em;
    position: absolute;
    z-index: 2;
    bottom: 0;
    height: inherit;
    width: 100%;
    /* left: 50vw; */
    text-align: center;
}

#voiceDiv {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#uiDiv {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.waveDiv {
    font-size: 2em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    height: 100vh;
    width: 33.33vw;
    position: absolute;
    z-index: 1;
}

.noteDiv {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(21, 255, 0);
    height: 4vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    margin-left: 10px;
}

#canvas {
    position: absolute;
    z-index: 3;
}

h1 {
    text-align: center;
    font-size: 3em;
}